<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::section})}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<section>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="text-center">Login de Administrador</h2>
            <hr/>
            <div th:if="${param.error}" class="alert alert-danger">
                Usuário ou senha inválidos.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Você saiu do sistema com sucesso.
            </div>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email (usuário)</label>
                    <input type="text" class="form-control" id="username" name="username" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</section>

</html>